<br />
<% if current_user.gerente? || current_user.recepcionista?|| current_user.tecnico? %>
<h3 align="center">Olá <%= current_user.name %>!</h3><br>
    <% unless current_user.financeiro? %>
    <div class="container">
    	<div class="row">
    		<div class="col-sm-4">
        	    <div class="widget-grey">
                    <div class="icon">
                         <i class="material-icons" style="color: #6C757D;">account_circle</i>
                    </div>
                    <div class="text">
                        <var style="color: #6C757D;"><%= Client.count %></var>
                        <label class="text-muted">clientes cadastrados</label>
                    </div>
                    <div class="options">
                        <a href="/clients/new" class="btn btn-secondary btn-lg"><i class="glyphicon glyphicon-plus"></i>+ 1 Cliente</a>
                    </div>
                </div>
    		</div>
            <div class="col-sm-4">
        	    <div class="widget-green">
                    <div class="icon">
                         <i class="material-icons" style="color: #28A745;">shopping_cart</i>
                    </div>
                    <div class="text">
                        <var style="color: #28A745;"><%= Item.count %></var>
                        <label class="text-muted">vendas realizadas</label>
                    </div>
                    <div class="options">
                        <a href="/cashiers" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-plus"></i>+ 1 Venda</a>
                    </div>
                </div>
    		</div>
        	</div>
    	</div>
    </div>
    <% end %>
    <br>
    <br>

    <h3 align="center">Valor total de vendas por dia nesta semana</h3>
    <%= column_chart Cashier.group_by_day_of_week(:created_at, format: "%a").where('created_at >= ?', Date.current.beginning_of_week).sum(:price), xtitle: "Dia da semana", ytitle: "Total em R$" %>
    <br>

    <div class="table-responsive">
      <br/>
      <h3 align="center">Aniversariantes do mês</h3>
      <table class="table" style="width: 90%;" align="center">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Data</th>
            <th>Telefone(s)</th>
          </tr>
        </thead>

        <tbody>
          <% @clients.each do |client| %>
            <% if client.birthdate.strftime("%m") == Date.today.strftime("%m") %>
              <% if client.birthdate.strftime("%d/%m") == Date.today.strftime("%d/%m") %>
                <tr style="background-color: #DC3912">
                  <td><%= link_to(client.name, client, class: 'link-to-text-color') %></td>
                  <td><%= client.birthdate.strftime("%d/%m/%Y") %> - É hoje!</td>
                  <td>
                    <% unless client.phone_clients.blank? %>
                      <% client.phone_clients.each do |phone_client|%>
                        <%= phone_client.number%>;&nbsp;
                      <% end %>
                    <% end %>
                </td>
                </tr>
              <% else %>
                <tr style="background-color: #CBBA7F">
                  <td><%= link_to(client.name, client, class: 'link-to-text-color') %></td>
                  <td><%= client.birthdate.strftime("%d/%m/%Y") %></td>
                  <td>
                    <% unless client.phone_clients.blank? %>
                      <% client.phone_clients.each do |phone_client|%>
                        <%= phone_client.number%>;&nbsp;
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>

          <% end %>
        </tbody>
      </table>
    </div>





<% else %>

    <div class="table-responsive">
      <br/>
      <h3 align="center">Olá <%= current_user.name %>!</h3><br>
      <br>
      <h3 align="center">Seus clientes de hoje</h3>
      <table class="table" style="width: 90%;" align="center">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Terapia</th>
            <th>Horário de Chegada</th>
          </tr>
        </thead>

        <tbody>
          <% @items.order('created_at DESC').each do |item| %>
            <% if item.user == current_user && item.created_at >= Time.now.beginning_of_day %>
                <tr style="background-color: #CBBA7F">
                  <td><%= link_to(item.client.name, item) if item.client%></td>
                  <td><%= item.therapy.name if item.therapy%></td>
                  <td><%= item.created_at.strftime("%H:%M") %></td>
                </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>


<% end %>