<%= form_with(model: phone_client, local: true) do |form| %>
  <% if phone_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phone_client.errors.count, "error") %> prohibited this phone_client from being saved:</h2>

      <ul>
      <% phone_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
