<p id="notice"><%= notice %></p>

<h1>Phone_clients</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phone_clients.each do |phone_client| %>
      <tr>
        <td><%= phone_client.number %></td>
        <td><%= phone_client.client %></td>
        <td><%= link_to 'Show', phone_client %></td>
        <td><%= link_to 'Edit', edit_phone_client_path(phone_client) %></td>
        <td><%= link_to 'Destroy', phone_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phone_client', new_phone_client_path %>
