
<%= simple_form_for(@product_movement) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :product %>
    <%= f.select :kind, options_for_select(["Entrada", "Saída"]), {}, class: 'form-control' %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <div style="display: none;"><%= f.text_field :user_id, :value => current_user.id %></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
