<br>
<h5 id="notice" style="color: red" align="center" style="margin: 20px"><%= notice %></h5>
<div class="row justify-content-center">
  <div class="col-md-20">
    <div class="card">
      <header class="card-header">
        <h3 class="card-title mt-2 text-center"><%= @user.name %></h3>
      </header>
      <div style="margin: 30px">
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
        <p>
          <strong>Tipo:</strong>
          <%= @user.kind %>
        </p>

        <% if @user.notes.present? %>
          <p>
            <strong>Notas:</strong>
            <%= @user.notes %>
          </p>
        <% end %>

        <div class="form-row">
          <% if current_user.gerente? || current_user.recepcionista? %>
            <% if current_user.recepcionista? && @user.gerente? %>
              <% else %>
              <div class="col form-group" align="center"><%= link_to 'Editar', edit_user_path(@user), class: 'btn btn-info' %></div>
              <% end %>
            <% end %>
          <div class="col form-group" align="center"><%= link_to 'Sair', users_path, class: 'btn btn-warning' %></div>
        </div>
      </div>
      </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
  </div> <!-- col.//-->
</div> <!-- row.//-->
