<div class="row justify-content-center">
  <div class="col-md-15">
    <div class="card">
      <header class="card-header">
        <h4 class="card-title mt-2 text-center">Novo Agendamento</h4>
      </header>
      <article class="card-body">
        <%= form_with(model: schedule, local: true) do |form| %>
          <% if schedule.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

              <ul>
              <% schedule.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <div class="form-row">
              <div class='col form-group'>
                <%= form.collection_select :client_id, Client.order(:name), :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Cliente" %>
              </div>
              <div class='col form-group'>
                <%= form.collection_select :user_id, User.where(kind: [:terapeuta, :gerente]), :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Terapeuta"%>
              </div>
            <div class='col form-group'>
              <%= form.collection_select :therapy_id, Therapy.order(:name), :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Terapia" %>
            </div>
          </div>

          <div class="form-group">
            <%= form.text_area :description, class: 'form-control', placeholder: "Descrição" %>
          </div>

          <div class="form-group">
            <%= form.label "Data" %>
            <%= form.datetime_select :start_time, as: :string, class: 'datepicker' %>
          </div>

          <div class="form-group">
            <%= form.label "Data" %>
            <%= form.datetime_select :end_time, class: 'datepicker' %>
            <!--<div><input type="checkbox" name="billingtoo" onclick="FillBilling(this.form)"></div>
          </div>
          <script type="text/javascript">
        function FillBilling(f) {
          if(f.billingtoo.checked == true) {
            f.schedule_end_time_date.value = f.schedule_start_time_date.value;
          }
        }

          </script>-->

          <div class="actions" align="center">
            <%= form.button "Agendar", class: "btn btn-success" %>
            <%= link_to 'Sair', schedules_path, class: 'btn btn-warning' %>
          </div>
        <% end %>
      </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
  </div> <!-- col.//-->
</div> <!-- row.//-->