<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<input id="example-clients" placeholder="Clients" />
  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name, data: {autocomplete_source: User.order(:name).map(&:name)} %>
  </div>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name, data: {autocomplete_source: Client.order(:name).map(&:name)} %>
  </div>

    <div class="field">
    <%= form.label :therapy_name %>
    <%= form.text_field :therapy_name, data: {autocomplete_source: Therapy.order(:name).map(&:name)} %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
