<h5 id="notice" style="color: red" align="center"><%= notice %></h5>
<div class="row justify-content-center">
  <div class="col-md-20">
    <div class="card">
      <header class="card-header">
        <h3 class="card-title mt-2 text-center">Detalhes do Agendamento</h3>
      </header>
      <div style="padding: 5px 25px">
      <p>
        <strong>Cliente:</strong>
        <%= @schedule.client.name %>
      </p>

      <p>
        <strong>Terapeuta:</strong>
        <%= @schedule.user.name %>
      </p>

      <p>
        <strong>Terapia:</strong>
        <%= @schedule.therapy.name %>
      </p>

      <p>
        <strong>Descrição:</strong>
        <%= @schedule.description %>
      </p>

      <p>
        <strong>Horário de inicio:</strong>
        <%= @schedule.start_time.to_formatted_s(:long) %>
      </p>

      <p>
        <strong>Horário de término:</strong>
        <%= @schedule.end_time.to_formatted_s(:long) %>
      </p>

      <div class="form-row">
        <div class="col form-group" align="center"><%= link_to 'Editar', edit_schedule_path(@schedule), class: 'btn btn-info' %></div>
        <div class="col form-group" align="center"><%= link_to 'Sair', schedules_path, class: 'btn btn-warning' %></div>
      </div>

      </div>

      </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
  </div> <!-- col.//-->
</div> <!-- row.//-->