<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
  <h4 class="card-title mt-2 text-center">Cliente</h4>
</header>
<article class="card-body">


<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, start_year: 1900, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

<div class="form-row">
  <div class="col form-group">
    <%= form.label :occupation %>
    <%= form.text_field :occupation, class: 'form-control' %>
  </div>

  <div class="col form-group">
    <%= form.label :indication %>
    <%= form.text_field :indication, class: 'form-control' %>
  </div>
</div>

  <div class="field">
    <%= form.label :credit %>
    <%= form.text_field :credit, class: 'form-control' %>
  </div><br/>

<div class="card-body border">
  <h5>Telefone(s) <%= link_to_add_association('+', form, :phone_clients) %></h5>
  <div id="phone_clients">
    
    <%= form.fields_for :phone_clients do |phone_clients_fields| %>
      <%= render partial: "phone_client_fields", locals: { f: phone_clients_fields } %>
    <% end %>
  </div>
</div><br>



<div class="card-body border">
<h5>Endereço</h5>
  <%= form.fields_for :address do |address_form| %>
  <div class="form-row">
    <div class='col form-group'>Endereco: <%= address_form.text_field :street, class: 'form-control' %></div>
    <div class='col form-group'>Cidade: <%= address_form.text_field :city, class: 'form-control' %></div>
    </div>
    <div class='field'>Estado: <%= address_form.select :state, options_for_state(@client.address.state), class: 'form-control' %></div>

  <% end %>
</div><br>

<div class="card-body border text-center">
  <div class="actions">
    <%= form.button "Confirmar", class: "btn btn-primary" %>
    <%= link_to 'Voltar', clients_path, class: 'btn btn-warning' %>
    
  </div>
</div>
<% end %>




</article> <!-- card-body end .// -->
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->