<table style="width:50%;" align="center">
  <tr><th>
<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :occupation %>
    <%= form.text_field :occupation, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :indication %>
    <%= form.text_field :indication, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :credit %>
    <%= form.text_field :credit, class: 'form-control' %>
  </div><br/>


  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= form.simple_fields_for :phone_clients do |builder| %>
        <%= render 'phone_client', form: builder %>
      <% end %>
    </tbody>
    <%= link_to_add_row '+Telefone', form, :phone_clients, class: 'btn btn-primary' %>
  </table>

  <div class="actions">
    <%= form.button "Confirmar", class: "btn btn-primary" %>
    <%= link_to 'Voltar', clients_path, class: 'btn btn-warning' %>
    
  </div>
<% end %>
</th></tr>
</table>