<table style="width:50%;" align="center">
  <tr><th>
<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, start_year: 1900, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :occupation %>
    <%= form.text_field :occupation, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :indication %>
    <%= form.text_field :indication %>
  </div>

  <div class="field">
    <%= form.label :credit %>
    <%= form.text_field :credit %>
  </div><br/>

  <%= form.fields_for :address do |address_form| %>
    <div class='field'>Endereco: <%= address_form.text_field :street %></div>
    <div class='field'>Cidade: <%= address_form.text_field :city %></div>
    <div class='field'>Estado: <%= address_form.select :state, options_for_state(@client.address.state) %></div>
  <% end %>

  <div id="phone_clients">
    <%= link_to_add_association('+', form, :phone_clients) %>
    <%= form.fields_for :phone_clients do |phone_clients_fields| %>
      <%= render partial: "phone_client_fields", locals: { f: phone_clients_fields } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.button "Confirmar", class: "btn btn-primary" %>
    <%= link_to 'Voltar', clients_path, class: 'btn btn-warning' %>
    
  </div>
<% end %>
</th></tr>
</table>