<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @client.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @client.occupation %>
</p>

<p>
  <strong>Indication:</strong>
  <%= @client.indication %>
</p>

<p>
  <strong>Telefones:</strong>
  <%= @client.phone_clients if @client.phone_clients%>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @client.address.street if @client.address%>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @client.address.city if @client.address%>
</p>

<p>
  <strong>Estado:</strong>
  <%= @client.address.state if @client.address%>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
