<p id="notice"><%= notice %></p>

<p>
  <strong>Cream allergy:</strong>
  <%= @record.cream_allergy %>
</p>

<p>
  <strong>Blood pressure:</strong>
  <%= @record.blood_pressure %>
</p>

<p>
  <strong>Uses pacemaker:</strong>
  <%= @record.uses_pacemaker %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @record.diabetes %>
</p>

<p>
  <strong>Surgery:</strong>
  <%= @record.surgery %>
</p>

<p>
  <strong>Surgery where:</strong>
  <%= @record.surgery_where %>
</p>

<p>
  <strong>Accident fracture:</strong>
  <%= @record.accident_fracture %>
</p>

<p>
  <strong>Accident where:</strong>
  <%= @record.accident_where %>
</p>

<p>
  <strong>Bone disease:</strong>
  <%= @record.bone_disease %>
</p>

<p>
  <strong>Medicine:</strong>
  <%= @record.medicine %>
</p>

<p>
  <strong>Medicine which:</strong>
  <%= @record.medicine_which %>
</p>

<p>
  <strong>Faint seizure:</strong>
  <%= @record.faint_seizure %>
</p>

<p>
  <strong>Woman pregnant:</strong>
  <%= @record.woman_pregnant %>
</p>

<p>
  <strong>Woman contraceptive:</strong>
  <%= @record.woman_contraceptive %>
</p>

<p>
  <strong>Pains:</strong>
  <%= @record.pains %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
