<div class="row justify-content-center">
  <div class="col-md-15">
    <div class="card">
      <header class="card-header">
        <h4 class="card-title mt-2 text-center">Cadastrar despesa</h4>
      </header>
      <article class="card-body">





<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-row">
      <div class='col form-group'>
        <%= f.input :name, label: 'Nome' %>
      </div>
      <div class='col form-group'>
        <%= f.input :price, label: 'Valor' %>
      </div>
    </div>
    <%= f.input :description, label: 'Descição' %>
    <%= f.input :paid, label: 'Pago' %><br>
    <%= f.input :start, as: :date, label: 'Data de vencimento' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




      </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
  </div> <!-- col.//-->
</div> <!-- row.//-->