<%= form_with(model: cashier, local: true) do |form| %>
  <% if cashier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cashier.errors.count, "error") %> prohibited this cashier from being saved:</h2>

      <ul>
      <% cashier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, :disabled=>true %>
  </div>

  <div class="field">
    <%= form.label :paymment %>
    <%= form.select :paymment, options_for_select(Cashier.paymments.map {|k,v| [k,v]}) %>
  </div>

  <div class="field">
    <%= form.label :paid_value %>
    <%= form.text_field :paid_value %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.select :paid, options_for_select(Cashier.paids.map {|k,v| [k,v]}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
