<table style="width:50%;" align="center">
  <tr><th>
<%= simple_form_for(cashier) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <br>
<table class='table table-striped table-bordered'>
  <tr>
    <td align="center"><h4><%= cashier.client.name %>, fez <%= cashier.therapy.name %> com <%= cashier.user.name %>.</h4></td>
  </tr>
</table>


  
  <div class="form-group">
    <%= f.input :price, label: 'Valor', :disabled=>true, class: 'form-control', id: 'valor' %>
  </div>

  <div class="form-row">
    <div class='col form-group'>
      <%= f.input :paid_value, label: 'Valor Pago', class: 'form-control', id: 'valor_pago' %>
    </div>
    <div class='col form-group'>
      <%= f.input :therapist_value, label: 'Valor de Repasse', class: 'form-control' %>
    </div>

    <div class='col form-group' style="display: none">
      <%= f.select :discount, options_for_select(Cashier.discounts.map {|k,v| [k,v]}), {:include_blank => true}, {class: 'form-control', id: 'desconto'} %>
    </div>
  </div>

    <div class='col form-group' style="display: none">
      <%= f.select :paid, options_for_select(Cashier.paids.map {|k,v| [k,v]}), {}, {required: 'true', class: 'form-control', id: 'pago'} %>
    </div>
  </div>
<br>
<div class="card-body border">
  <h4><b>Forma de Pagamento</b></h4><input type="radio" value="false"  name="user_past_employ_status" id="pemp_yes" checked><label for="pemp_yes">Uma</label>
  <input type="radio" value="true" name="user_past_employ_status" id="pemp_no"><label for="pemp_no">Duas(ou mais)</label>


  <br><br>

  <div class="umaForma">

      <div class='col form-group'>
        <%= f.select :paymment, options_for_select(Cashier.paymments.map {|k,v| [k,v]}), {:include_blank => true}, {class: 'form-control'} %>
      </div>

  </div>


  <div class="duasFormas" style="display: none">
    <div class="card-body border">
      <h5>Formas de Pagamento <%= link_to_add_association('+', f, :pagamento_caixa, class: "btn btn-primary") %></h5>
      <div id="pagamento_caixa">
        
        <%= f.simple_fields_for :pagamento_caixa do |pagamento_caixa_fields| %>
          <%= render partial: "pagamento_caixa_fields", locals: { f: pagamento_caixa_fields } %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<br><br>
  <div class="actions">
    <%= f.button :submit, "Confirmar e concluir venda", class: "btn btn-success", :onclick =>'ValorPago()'%>
    <%= f.button :submit, "Confirmar e deixar pendente", class: "btn btn-secondary", :onclick =>'ValorNaoPago()'%>
    <%= link_to 'Voltar', cashiers_path, class: 'btn btn-warning' %>
  </div>
<% end %>
</th></tr>
</table>


<script>
function ValorPago() {
  document.getElementById("pago").value = "1";
  if(parseFloat(document.getElementById('valor_pago').value) < parseFloat(document.getElementById('valor').value))
    document.getElementById('desconto').value='1'
  else
    document.getElementById('desconto').value='0'
}

function ValorNaoPago() {
  document.getElementById("pago").value = "0";
}




$("input[name='user_past_employ_status']").on("click", function(){
    $(".umaForma").toggle(this.value === "false" && this.checked);
    $(".duasFormas").toggle(this.value === "true" && this.checked);
});
</script>