<%= form_with(model: @cashier, local: true) do |form| %>
<p id="notice"><%= notice %></p>

<div class="container">
<h1>Caixa</h1>
<table class="table">
  <thead>
    <tr>
      <th >User</th>
      <th>Client</th>
      <th>Therapy</th>
      <th>Price</th>
      <th>Paymment</th>
      <th>Paid value</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashiers.each do |cashier| %>
      <% if cashier.paid != "yes" %>
        <tr>
          <td><%= cashier.user %></td>
          <td><%= cashier.client %></td>
          <td><%= cashier.therapy %></td>
          <td><%= cashier.price %></td>
          <td><%= cashier.paymment %></td>
          <td><%= cashier.paid_value %></td>
          <td><%= cashier.paid %></td>
          <td><%= link_to 'Concluir Venda', edit_cashier_path(cashier), class: 'btn btn-success' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>
<% end %>