<p id="notice"><%= notice %></p>
<%= render 'form', cashier: @cashier %>
<div class="container">
<h1>Caixa</h1>
<table class="table">
  <thead>
    <tr>
      <th >Terapeuta</th>
      <th>Cliente</th>
      <th>Terapia</th>
      <th>Valor</th>
      <th>Forma de Pagamento</th>
      <th>Valor Pago</th>
      <th>Pago?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashiers.each do |cashier| %>
      <% if cashier.paid != "sim" %>
        <tr>
          <td><%= cashier.user.name if cashier.user%></td>
          <td><%= cashier.client.name if cashier.client%></td>
          <td><%= cashier.therapy.name if cashier.therapy%></td>
          <td><%= cashier.price %></td>
          <td><%= cashier.paymment %></td>
          <td><%= cashier.paid_value %></td>
          <td><%= cashier.paid %></td>
          <td><%= link_to 'Concluir Venda', edit_cashier_path(cashier), class: 'btn btn-success' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>