
<%= render 'items/form', item: @item %>
  <div id="example1" align="center">
    <p id="notice"><%= notice %></p>

    <div class="table-responsive">
      <br/>
      <h1>Caixa</h1>
      <table class="table" style="width: 90%;">
        <thead>
          <tr>
            <th >Terapeuta</th>
            <th>Cliente</th>
            <th>Terapia</th>
            <th>Valor</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @cashiers.each do |cashier| %>
            <% if cashier.paid != "sim" %>
              <tr>
                <td><%= cashier.user.name if cashier.user%></td>
                <td><%= cashier.client.name if cashier.client%></td>
                <td><%= cashier.therapy.name if cashier.therapy%></td>
                <td><%= cashier.price %></td>
                <td><%= link_to 'Concluir Venda', edit_cashier_path(cashier), class: 'btn btn-success' %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>



      <div style="width:95%">
        <%= content_tag :table, role: :datatable, data: { url: cashiers_path(format: :json)} do %>
          <thead class="table table-striped table-bordered">
            <tr>
              <th>Cliente</th>
              <th>Terapeuta</th>
              <th>Terapia</th>
              <th>Valor</th>
              <th></th>
            </tr>
          </thead>

          <tbody class="table table-striped table-bordered">
          </tbody>
        <% end %>
      </div>
    </div>
  </div>