<%= form_with(model: @cashier, local: true) do |form| %>
	  <% if @cashier.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@cashier.errors.count, "error") %> prohibited this cashier from being saved:</h2>

	      <ul>
	      <% @cashier.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>


		<div class='col form-group'>
			<%= form.collection_select :client_id, Client.all, :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Cliente" %>
		</div>
		<div style="display: none;"><%= form.text_field :user_id, :value => current_user.id %></div>



	    <div class='col form-group' style="display: none">
	      <%= form.label "Pago?" %>
	      <%= form.select :paid, options_for_select(Cashier.paids.map {|k,v| [k,v]}), {}, {required: 'true', class: 'form-control', id: 'pago'} %>
	    </div>


	  <div class="card-body border">
	  	<div id="product_movements">
	      <%= form.simple_fields_for :product_movements do |product_movements_fields| %>
	        <%= render partial: "product_movement_fields", f: product_movements_fields %>
	      <% end %>
	    </div>
	  	
	    <h5><%= link_to_add_association('+', form, :product_movements, class: "btn btn-primary") %> Produto(s)</h5>
	  </div><br>


	<div class="card-body border">
	  <h4><b>Forma de Pagamento</b></h4><input type="radio" value="false"  name="user_past_employ_status" id="pemp_yes" checked><label for="pemp_yes">Uma</label>
	  <input type="radio" value="true" name="user_past_employ_status" id="pemp_no"><label for="pemp_no">Duas(ou mais)</label>


	  <br><br>

	  <div class="umaForma">

	      <div class='col form-group'>
	        <%= form.select :paymment, options_for_select(Cashier.paymments.map {|k,v| [k,v]}), {:include_blank => true}, {class: 'form-control'} %>
	      </div>

	  </div>


	  <div class="duasFormas" style="display: none">
	    <div class="card-body border">
	      <h5>Formas de Pagamento <%= link_to_add_association('+', form, :pagamento_caixa, class: "btn btn-primary") %></h5>
	      <div id="pagamento_caixa">
	        
	        <%= form.simple_fields_for :pagamento_caixa do |pagamento_caixa_fields| %>
	          <%= render partial: "pagamento_caixa_fields", locals: { f: pagamento_caixa_fields } %>
	        <% end %>
	      </div>
	    </div>

	  </div>
	</div>




<br>


	  <div class="actions">
	    <%= form.button 'Confirmar Venda', class: "btn btn-success", :onclick =>'ValorPago()' %>
	  </div>
	  <% end %>