<body>
  <div id="example1" align="center">
    <p id="notice"><%= notice %></p>

    <div class="table-responsive">
      <br/>
      <h1>Terapias</h1>
      <div class="row justify-content-center">
      <%= link_to 'Cadastrar nova Terapia', new_therapy_path, class: 'btn btn-success' %>
      </div>
      <div style="width:95%">
        <table id='therapies' class='table table-striped table-bordered'>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Valor</th>
              <th></th>
              <% if current_user.gerente? %>
                <th></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @therapies.each do |therapy| %>
              <% inativos = ["Drenagem linfatica","Oriental massage 30'","Oriental massage 60'",'Reiki','Atualizaçao','Mas. C/ Julio','Psicoterapia','Quick','Pedras Quentes','Treinamento','Produtos','Vale Presente Realizado','Auriculo','Limpeza Energética','Formação em Yoga 1°TURMA','Abhyanga 90min','Abhyanga 60min','Shirodhara 90min','Shirodhara 60min','Mentoria Integrativa FEM','Mentoria Integrativa MAS','Foot massage com escalda pes',"Oleo massagem 30'","Oleo massagem 60'","Oleo massagem 90'",'Pacote Drenagem 4','Compra Pacote Acunputura','Mensalidade Yoga','Compra Vale Presente','Compra de Pacote Spa','Sessão de Pacote Spa',"Reflexologia 30'",'Formação YOGA 2','Acupuntura Julio (1 vez)','Acupuntura Julio retorno','Formação Yoga 3','Shiatsu 60','Acupuntura Pacote','Terapias Reflexas','Massagem Aniversariante','Massagem Feriado','Escalda pés+Massagem','Head Massage',"Oriental massage 90'",'Quarta Black','Compra Pacote Drenagem 5','Drenagem Facial','Acupuntura Kiyoshi', '(Antigo)Quiropraxia','Quiropraxia', 'erik atendimento'] %>
              <% if (inativos.include? therapy.name) == false %>
              <tr>
                <td><%= link_to(therapy.name, therapy) %></td>
                <td><%= therapy.price %></td>
                <td><%= link_to('Editar', edit_therapy_path(therapy), class: 'btn btn-info') %>
                </td>
                <% if current_user.gerente? %>
                    <td><%= link_to('Deletar', therapy, method: :delete, data: { confirm: 'CUIDADO! Ao deletar uma terapia, o historico e vendas relacionado a comanda também serão deletados. Tem certeza?' }, class: 'btn btn-danger') %></td>
                <% end %>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
  </div>
</body>
<br>