<body>
  <div id="example1" align="center">
    <p id="notice"><%= notice %></p>

    <div class="table-responsive">
      <br/>
      <h1>Terapias</h1>
      <div class="row justify-content-center">
      <%= link_to 'Cadastrar nova Terapia', new_therapy_path, class: 'btn btn-success' %>
      </div>
      <div style="width:95%">
        <table id='therapies' class='table table-striped table-bordered'>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Valor</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @therapies.each do |therapy| %>
              <tr>
                <td><%= link_to(therapy.name, therapy) %></td>
                <td><%= therapy.price %></td>
                <td><%= link_to('Editar', edit_therapy_path(therapy), class: 'btn btn-info') %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
  </div>
</body>
<br>