<br>
<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row justify-content-center">
  <div class="col-md-20">
    <div class="card">
      <header class="card-header">
        <h3 class="card-title mt-2 text-center">Comanda</h3>
      </header>
      <article class="card-body">

            <%= simple_fields_for :item do |item_form| %>

            <div class="form-row">
              <div class='col form-group'><%= item_form.collection_select :client_id, Client.all, :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Cliente" %></div>
              <div class='col form-group'><%= item_form.collection_select :user_id, User.where(kind: [:terapeuta, :gerente]), :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Terapeuta" %></div>
              <div class='col form-group'><%= item_form.collection_select :therapy_id, Therapy.all, :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Terapia" %></div>
            </div>
              <div class='col form-group'><%= item_form.text_area :description, class: 'form-control', placeholder: "Descrição" %></div>

              <div class="form-actions" align="center">
                <%= item_form.submit 'Confirmar', class: "btn btn-success"%>
              </div>
            <% end %>

        </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
  </div> <!-- col.//-->
</div> <!-- row.//-->

<% end %>