<br>
<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row justify-content-center">
  <div class="col-md-20">
    <div class="card">
      <header class="card-header">
        <h3 class="card-title mt-2 text-center">Comanda</h3>
      </header>
      <article class="card-body">

            <%= simple_fields_for :item do |item_form| %>

            <div class="form-row">
              <div class='col form-group'><%= item_form.collection_select :client_id, Client.all, :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Cliente" %></div>
              <div class='col form-group'><%= item_form.collection_select :user_id, User.where(kind: [:terapeuta, :gerente]), :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Terapeuta" %></div>
              <div class='col form-group'><%= item_form.collection_select :therapy_id, Therapy.where.not(name: ["Drenagem linfatica","Oriental massage 30'","Oriental massage 60'",'Reiki','Atualizaçao','Mas. C/ Julio','Psicoterapia','Quick','Pedras Quentes','Treinamento','Produtos','Vale Presente Realizado','Auriculo','Limpeza Energética','Formação em Yoga 1°TURMA','Abhyanga 90min','Abhyanga 60min','Shirodhara 90min','Shirodhara 60min','Mentoria Integrativa FEM','Mentoria Integrativa MAS','Foot massage com escalda pes',"Oleo massagem 30'","Oleo massagem 60'","Oleo massagem 90'",'Pacote Drenagem 4','Compra Pacote Acupuntura','Mensalidade Yoga','Compra Vale Presente','Compra de Pacote Spa','Sessão do Pacote Spa',"Reflexologia 30'",'Formação YOGA 2','Acupuntura Julio (1 vez)','Acupuntura Julio retorno','Formação Yoga 3','Shiatsu 60','Acupuntura Pacote','Terapias Reflexas','Massagem Aniversariante','Massagem Feriado','Escalda pés+Massagem','Head Massage',"Oriental massage 90'","Quarta Black",'Compra Pacote Drenagem 5','Drenagem Facial','Acupuntura Kiyoshi', '(Antigo)Quiropraxia','Quiropraxia', 'erik atendimento']), :id, :name, { include_blank: true }, class: "selecttwo", "data-placeholder" => "Terapia" %></div>
            </div>
              <div class='col form-group'><%= item_form.text_area :description, class: 'form-control', placeholder: "Descrição" %></div>

              <div class="form-actions" align="center">
                <%= item_form.submit 'Confirmar', class: "btn btn-success"%>
              </div>
            <% end %>

        </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
  </div> <!-- col.//-->
</div> <!-- row.//-->

<% end %>