<body>
  <div id="example1" align="center">
    <p id="notice"><%= notice %></p>

    <div class="table-responsive">
      <br/>
      <h1>Histórico</h1>
      <div style="width:95%">
        <table id='items' class='table table-striped table-bordered'>
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Terapeuta</th>
              <th>Terapia</th>
              <th>Valor da Terapia</th>
              <th>Repasse</th>
              <th>Descrição</th>
              <th>Data</th>
              <% if current_user.gerente? %>
                <th></th>
              <% end %>
              <th></th>
              <% if current_user.gerente? || current_user.terapeuta? %>
                <th></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @items.order('created_at DESC').each do |item| %>
              <% if current_user.terapeuta? %>
                <% if current_user == item.user %>
                  <tr>
                    <td><%= link_to(item.client.name, item.client) %></td>
                    <td><%= item.user.name %></td>
                    <td><%= item.therapy.name %></td>
                    <td><%= item.cashier.price if item.cashier %></td>
                    <td>R$ <%= item.cashier.therapist_value if item.cashier %></td>
                    <td><%= item.description %></td>
                    <td><%= item.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
                    <td><%= link_to('Detalhes', item, class: 'btn btn-info') %></td>
                    <% if current_user.gerente? || current_user.terapeuta? %>
                      <td><%= link_to('Editar', edit_item_path(item), class: 'btn btn-info') %></td>
                    <% end %>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td><%= link_to(item.client.name, item.client) %></td>
                  <td><%= item.user.name %></td>
                  <td><%= item.therapy.name %></td>
                  <td><%= item.cashier.price if item.cashier %></td>
                  <td>R$ <%= item.cashier.therapist_value if item.cashier %></td>
                  <td><%= item.description %></td>
                  <td><%= item.created_at.strftime("%d/%m/%Y - %H:%M") %></td>

                  <% if current_user.gerente? %>
                    <td><%= link_to('Deletar', item, method: :delete, data: { confirm: 'CUIDADO! Ao deletar uma comanda, o historico relacionado a comanda também será deletado. Tem certeza?' }, class: 'btn btn-danger') %></td>
                  <% end %>

                  <td><%= link_to('Detalhes', item, class: 'btn btn-info') %></td>
                  <% if current_user.gerente? || current_user.terapeuta? %>
                    <td><%= link_to('Editar', edit_item_path(item), class: 'btn btn-info') %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>
    <br>
  </div>
</body>
<br>