<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @item.client %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<p>
  <strong>Therapy:</strong>
  <%= @item.therapy %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Cashier:</strong>
  <%= @item.cashier %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
