<br>
<h5 id="notice" style="color: red" align="center"><%= notice %></h5>
<div class="row justify-content-center">
  <div class="col-md-20">
    <div class="card">
      <header class="card-header">
        <h3 class="card-title mt-2 text-center">Histórico</h3>
      </header>
      <article class="card-body">
        <p>
          <strong>Cliente:</strong>
          <%= @item.client.name %>
        </p>

        <p>
          <strong>Terapeuta:</strong>
          <%= @item.user.name %>
        </p>

        <p>
          <strong>Terapia:</strong>
          <%= @item.therapy.name %>
        </p>

        <p>
          <strong>Descrição:</strong>
          <%= @item.description %>
        </p>
        <div class="col form-group" align="center"><%= link_to 'Editar', edit_item_path(@item), class: "btn btn-primary" %>
        <%= link_to 'Sair', items_path, class: "btn btn-warning" %></div>

      </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
  </div> <!-- col.//-->
</div> <!-- row.//-->