<br>
<h5 id="notice" style="color: red" align="center" style="margin: 20px"><%= notice %></h5>
<div class="row justify-content-center">
  <div class="col-md-20">
    <div class="card">
      <header class="card-header">
        <h3 class="card-title mt-2 text-center"><%= @product.name %></h3>
      </header>
		<div style="margin: 30px">

			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Descrição:</strong>
			  <%= @product.description %>
			</p>

			<p>
			  <strong>Valor:</strong>
			  <%= @product.price %>
			</p>

			<p>
			  <strong>Quantidade:</strong>
			  <%= @product.quantity %>
			</p>
			<% if current_user.gerente? || current_user.tecnico? || current_user.financeiro? %>
			<%= link_to 'Editar', edit_product_path(@product), class: 'btn btn-info' %>
			<% end %>
			<%= link_to 'Voltar', products_path, class: 'btn btn-warning' %>


		</div>
      </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
  </div> <!-- col.//-->
</div> <!-- row.//-->
