<br><div id="example1" align="center"><br/>
<%= search_form_for @search, url: reports_despesas_terapeuta_path, method: :post do |f| %>
  <div class="input-daterange">
    Período
    <%= f.text_field :start_gteq, placeholder: 'De', autocomplete: "off" %>
    <%= f.text_field :start_lteq, placeholder: 'Até', autocomplete: "off" %>
  </div>
  <div class="actions"><%= f.submit 'Filtrar' %></div>
<% end %>

<div class="table-responsive">

<table id="countit" class='table table-striped table-bordered' style="width:90%;" align="center">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th>Descrição</th>
      <th>Pago</th>
      <th>Data</th>
    </tr>
  </thead>

  <tbody>
  <% @events.order('start DESC').each do |event| %>
  <% if event.cashier_id.blank? %>
    <tr>
      <td><%= event.name %></td>
      <td><%= number_to_currency(event.price.to_f) %></td>
      <td class="count-value" style="display: none;"><%= event.price.to_f %></td>
      <td><%= event.description %></td>
      <td><% if event.paid == false && event.cashier_id == nil %>Não <% end %><% if event.paid == true && event.cashier_id == nil %> Sim <% end %></td>
      <td><%= event.start.strftime("%d/%m/%Y") if event.start%></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>

</div>

<button class="btn btn-info">Imprimir Relatório</button>
<br><br>
<script language="javascript" type="text/javascript">
    var tds = document.getElementById('countit').getElementsByTagName('td');
    var sumValue = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'count-value') {
            sumValue += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
        }
    }
    document.getElementById('countit').innerHTML += '<tr><td><b>Valor Total</b></td><td><b>R$ ' + sumValue + '</b></td></tr>';





        function printData()
      {
         var divToPrint=document.getElementById("countit");
         newWin= window.open("");
         newWin.document.write('<html><head><title></title><h1 align="center">Relatório de Despesas</h1>');
         newWin.document.write('<style> table, th, td {border: 1px solid #ddd;;width:100%;border-collapse: collapse;padding-left:10px;padding-right:10px;}</style>');
         newWin.document.write('</head>');
         newWin.document.write(divToPrint.outerHTML);
         newWin.print();
         newWin.close();
      }

      $('button').on('click',function(){
      printData();
      })

</script>


</div>

<br>