<br><div id="example1" align="center"><br/>
<%= search_form_for @search, url: reports_entrada_julio_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :therapy_name_cont, 'Terapia' %>
    <%= f.select :therapy_id_eq, options_from_collection_for_select(Therapy.all, "id", "name", @search.therapy_id_eq), :include_blank => true %>
    <%= f.label :paymment_eq, 'Forma de Pagamento' %>
    <%= f.select :paymment_eq, Cashier.paymments.to_a.map { |w| [w[0].humanize, w[1]] },
                         {:include_blank => true} %>

	<%= f.label :discount_eq, 'Desconto' %>
    <%= f.select :discount_eq, Cashier.discounts.to_a.map { |w| [w[0].humanize, w[1]] },
                         {:include_blank => true} %>
  </div>
  <div class="input-daterange">
    Período
    <%= f.text_field :created_at_gteq, placeholder: 'De', autocomplete: "off" %>
    <%= f.text_field :created_at_lteq, placeholder: 'Até', autocomplete: "off" %>
  </div>
  <div class="actions"><%= f.submit 'Filtrar' %></div>
<% end %>

<div class="table-responsive">
  <table id="countit" class='table table-striped table-bordered' style="width:90%;" align="center">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Terapia</th>
        <th>Valor da Terapia</th>
        <th>Valor Pago</th>
        <th>Uma Forma de Pagamento</th>
        <th>Duas Formas de Pagamento</th>
        <th>Desconto</th>
        <th>Data de abertura</th>
        <th>Data de fechamento</th>
      </tr>
    </thead>
    <%  a = 0 %>
    <tbody>
    <% @cashiers.order('created_at DESC').each do |cashier| %>
    	<% if cashier.sim? %>
    	<% unless cashier.user.name == 'Julio' && cashier.user.kind == 'gerente'%>
  	    <tr>
          <td><%= cashier.client.name if cashier.client %></td>
  	      <td><%= cashier.therapy.name if cashier.therapy %></td>
          <td><%= number_to_currency(cashier.price.to_f) %></td>
          <td class="count-value" style="display: none;"><%= cashier.price.to_f %></td>
  	      <td><%= number_to_currency(cashier.paid_value.to_f) %></td>
  	      <td class="count-paid" style="display: none;"><%= cashier.paid_value.to_f %></td>
  	      <td class="pagamento"><%= cashier.paymment if cashier.pagamento_caixa.blank? %></td>
          <td>
            <% unless cashier.pagamento_caixa.blank? %>
              <% cashier.pagamento_caixa.each do |pagamento_caixa|%>
                <b><%= pagamento_caixa.pagamento.name %></b>: R$<%= pagamento_caixa.value %>;
              <% end %>
            <% end %> 
           </td>
  	      <td><%= cashier.discount %></td>
  	      <td><%= cashier.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
  	      <td><%= cashier.updated_at.strftime("%d/%m/%Y - %H:%M") %></td>
  	    </tr>
        <% a = a + 1 if cashier %>
  	<% end %>
  	<% end %>
    <% end %>
    <th>Total de Terapias</th><th><%= a %></th>
    </tbody>
  </table>
</div>

<button class="btn btn-info">Imprimir Relatório</button>
<br><br>
<script language="javascript" type="text/javascript">
    var tds = document.getElementById('countit').getElementsByTagName('td');
    var sumPaid = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'count-paid') {
            sumPaid += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
        }
    }

    var tds = document.getElementById('countit').getElementsByTagName('td');
    var sumValue = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'count-value') {
            sumValue += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
        }
    }
    document.getElementById('countit').innerHTML += '<tr><td><b>Valor Total</b></td><td><b>R$ ' + sumValue + '</b></td></tr>';

    document.getElementById('countit').innerHTML += '<tr><td><b>Valor Total Pago</b></td><td><b>R$ ' + sumPaid + '</b></td></tr>';

    var difValuePaid = sumValue - sumPaid

    document.getElementById('countit').innerHTML += '<tr><td><b>Valor Total em Desconto</b></td><td><b>R$ ' + difValuePaid + '</b></td></tr>';





    function printData()
      {
         var divToPrint=document.getElementById("countit");
         newWin= window.open("");
         newWin.document.write('<html><head><title></title> <h1 align="center">Relatório de Entradas(Sem Júlio)</h1> <%=  %>');
         newWin.document.write('<style> table, th, td {border: 1px solid #ddd;;width:100%;border-collapse: collapse;padding-left:10px;padding-right:10px;}</style>');
         newWin.document.write('</head>');
         newWin.document.write(divToPrint.outerHTML);
         newWin.print();
         newWin.close();
      }

      $('button').on('click',function(){
      printData();
      })
</script>


</div>
<br>