<br><div id="example1" align="center"><br/>

<%= search_form_for @search, url: reports_therapist_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :user_name_cont, 'Terapeuta' %>
    <%= f.select :user_id_eq, options_from_collection_for_select(User.where(kind: [:terapeuta, :gerente]), "id", "name", @search.therapy_id_eq), :include_blank => true, class: "selecttwo" %>
  </div>
  <div class="input-daterange">
    Período
    <%= f.text_field :created_at_gteq, placeholder: 'De', autocomplete: "off" %>
    <%= f.text_field :created_at_lteq, placeholder: 'Até', autocomplete: "off" %>
  </div>
  <div class="actions"><%= f.submit 'Filtrar' %></div>
<% end %>

<table id="countit" class='table table-striped table-bordered' style="width:90%;" align="center">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Terapeuta</th>
      <th>Terapia</th>
      <th>Valor Pago</th>
      <th>Uma Forma de Pagamento</th>
      <th>Duas Formas de Pagamento</th>
      <th>Valor de Repasse</th>
      <th>Data de abertura</th>
      <th>Data de fechamento</th>
    </tr>
  </thead>

  <tbody>
  <% @cashiers.order('created_at DESC').each do |cashier| %>
  <% unless cashier.therapy.blank? %>
    <tr>
      <td><%= cashier.client.name if cashier.client%></td>
      <td><%= cashier.user.name if cashier.user%></td>
      <td><%= cashier.therapy.name if cashier.therapy%></td>
      <td><%= number_to_currency(cashier.paid_value.to_f) %></td>
      <td class="count-me" style="display: none;"><%= cashier.paid_value.to_f %></td>
      <td><%= cashier.paymment if cashier.pagamento_caixa.blank? %></td>
      <td>
      <% unless cashier.pagamento_caixa.blank? %>
        <% cashier.pagamento_caixa.each do |pagamento_caixa|%>
          <b><%= pagamento_caixa.pagamento.name %></b>: R$<%= pagamento_caixa.value %>;
        <% end %>
      <% end %> 
     </td>
      <td><%= number_to_currency(cashier.therapist_value.to_f) %></td>
      <td class="count-therapist" style="display: none;"><%= cashier.therapist_value.to_f %></td>
      <td><%= cashier.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
      <td><%= cashier.updated_at.strftime("%d/%m/%Y - %H:%M") %></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
<button class="btn btn-info">Imprimir Relatório</button><br>
<br>
</div>
<br>

<script language="javascript" type="text/javascript">
    var tds = document.getElementById('countit').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'count-me') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
        }
    }
    document.getElementById('countit').innerHTML += '<tr><th>Total Pago</th><td>R$ ' + sum + '</td></tr>';
</script>

<script language="javascript" type="text/javascript">
    var tds = document.getElementById('countit').getElementsByTagName('td');
    var sum = 0;
    for(var i = 0; i < tds.length; i ++) {
        if(tds[i].className == 'count-therapist') {
            sum += isNaN(tds[i].innerHTML) ? 0 : parseFloat(tds[i].innerHTML);
        }
    }
    document.getElementById('countit').innerHTML += '<tr><th>Total de Repasse</th><td>R$ ' + sum + '</td></tr>';



        function printData()
      {
         var divToPrint=document.getElementById("countit");
         newWin= window.open("");
         newWin.document.write('<html><head><title></title> <h1 align="center">Relatório do Terapeuta</h1> <%=  %>');
         newWin.document.write('<style> table, th, td {border: 1px solid #ddd;;width:100%;border-collapse: collapse;padding-left:10px;padding-right:10px;}</style>');
         newWin.document.write('</head>');
         newWin.document.write(divToPrint.outerHTML);
         newWin.print();
         newWin.close();
      }

      $('button').on('click',function(){
      printData();
      })
</script>